.HighScore {
  /* box-sizing: border-box; */
  background-color: aliceblue;
  /* width: fit-content; */
  width: 500px;
  /* border: 100px; */
  box-shadow: 0 1px 2px 0px rgba(78, 78, 78, 0.24), 0 2px 2px 0 rgba(202, 202, 202, 0.19);
}